<app-menu></app-menu> <!-- Composant de menu -->

<div class="auth-card">
  <h2>Page de connexion</h2>
  <form (ngSubmit)="loginUser()"> <!-- Changez (submit) en (ngSubmit) -->
    <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
    <input type="password" [(ngModel)]="password" name="password" placeholder="Mot de passe" required />
    <button type="submit">Se connecter</button>
  </form>
  <a routerLink="/register">Pas de compte ? S'inscrire</a> <!-- Utilisez routerLink au lieu de href -->
</div>
