<nav class="navbar">
    <ul class="nav-links">
      <li><a routerLink="/">Accueil</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/profile">Profil</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/my-events">Mes évènements</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/create">Créer un événement</a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="/login">Connexion</a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="/register">Inscription</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/" (click)="logout()">Déconnexion</a></li>
    </ul>
  </nav>
  