
<!-- event-detail.component.html -->
<app-menu></app-menu>
<div class="event-detail-container" *ngIf="event">
  <h2>{{ event.title }}</h2>
  <p><strong>Date :</strong> {{ event.date }}</p>
  <p><strong>Lieu :</strong> {{ event.location }}</p>
  <p><strong>Description :</strong> {{ event.description }}</p>
  <p><strong>Gérant :</strong> {{ event.owner }}</p>
  <p><strong>Nombre de places maximum :</strong> {{ event.maxPeople }}</p>
  <p><strong>Nombre de participants :</strong> {{ event.counter }}</p>
  
  <button *ngIf="isLoggedIn" (click)="toggleFavorite()" class="btn">
    {{ isFavorite ? 'Retirer des favoris' : 'Ajouter aux favoris' }}
  </button>

  <button *ngIf="isLoggedIn" (click)="toggleSubscription()" class="btn">
    {{ isSubscribed ? 'Se désinscrire' : 'S\'inscrire' }}
  </button>

  <a routerLink="/" class="btn btn-back">Retour à la liste des évènements</a>
</div>

<div *ngIf="!event">
  <p>Loading event details...</p>
</div>
