<app-menu></app-menu> <!-- Composant de menu -->
<!-- create-event.component.html -->
<div class="create-event-container">
  <div class="event-card">
    <h2>Create New Event</h2>
    <form (ngSubmit)="createEvent()">
      <div class="form-group">
        <label for="title">Event Title</label>
        <input type="text" id="title" [(ngModel)]="title" name="title" placeholder="Enter event title" required />
      </div>

      <div class="form-group">
        <label for="date">Event Date</label>
        <input type="date" id="date" [(ngModel)]="date" name="date" required />
      </div>

      <div class="form-group">
        <label for="location">Event Location</label>
        <input type="text" id="location" [(ngModel)]="location" name="location" placeholder="Enter event location" required />
      </div>

      <div class="form-group">
        <label for="description">Event Description</label>
        <textarea id="description" [(ngModel)]="description" name="description" placeholder="Enter event description" rows="4" required></textarea>
      </div>

      <div class="form-group">
        <label for="maxPeople">Max Number of People</label> <!-- Champ pour le nombre maximum de personnes -->
        <input type="number" id="maxPeople" [(ngModel)]="maxPeople" name="maxPeople" placeholder="Enter max number of people" required />
      </div>

      <button type="submit" class="btn">Create Event</button>
    </form>
  </div>
</div>
